{% load static %}
<html>
    <head>
        {% include "header.html" %}
        <title>ZipTools</title>
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="zip-infos"> 
            {{message}}
            {{file_name}}
        </div>
        <div class="zip-form">
            <form action="" method="post" enctype="multipart/form-data" >
                <input type="file" name="file-upload" id="file-upload">
                <input type="submit" value="Submit" ajax="true">
            </form>
        </div>
        <script> const files="{{file_name}}" </script>
        <script src={% static 'js/main.js' %}></script>
    </body>
</html>