{% load static %}
<!doctype html>

<html lang='fr'>
    <head>
        {% include "header.html" %}
        <title>ZipTools - Mail</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/mail.css' %}" />
    </head>
    <body>
        {% include "navbar.html" %}
        <div id="mail">
            <h3>Envoi de mail</h3>
            <form method="post">
                <div class="form-field">
                    <label for="destinataire">Destinataire :</label>
                    <input type="email" id="destinataire" name="destinataire" placeholder="isitech@benke.fr" required size="40" />
                </div>
                
                <div class="form-field">
                    <label for="sujet">Sujet :</label>
                    <input type="text" id="sujet" name="sujet" placeholder="TP Python ZipTools" required size="40" />
                </div>

                <div class="form-field">
                    <label for="corps">Corps :</label>
                    <textarea type="text" id="corps" name="corps" placeholder="Bonjour, vous trouverez en pièce-jointe de ce mail le projet ZipTools." rows="6" cols="40"></textarea>
                </div>

                <div class="form-field">
                    <label for="signature">Signature du fichier zip :</label>
                    <textarea type="text" id="signature" name="signature" readonly rows="6" cols="40">{{signature}}</textarea>
                </div>

                <div>
                    <div class="button-send">
                        <button>Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
        
        <script type="text/javascript">
            // Affiche une alerte si le mail s'est bien envoyé 
            let mailSend = {{ mailSend }};
            console.log(mailSend)
            if (mailSend === 0) {
                alert('Mail envoyé avec succès !');
            }
        </script>
    </body>
</html>